.title {
	width: fit-content;
	font-family: $bold;
	font-weight: 700;
	letter-spacing: -0.2rem;
	text-transform: uppercase;
}

.anim-title {
	transform: translateY(4.286rem) rotate(2deg);
	opacity: 0;
	transition: all 1s ease-in-out;

	&._active {
		transform: translateX(0);
		opacity: 1;
	}
}

.anim-card {
	transform: scale(0.85);
	opacity: 0;
	transition: all 1s ease-in-out;

	&._active {
		transform: scale(1);
		opacity: 1;
	}
}
