// Fonts
$regular: 'Roboto-Regular', 'sans-serif';
$medium: 'Roboto-Medium', 'sans-serif';
$bold: 'Roboto-Bold', 'sans-serif';

//Colors
$white: #fff;
$black: #181818;
$grey: #d2d2d2;
$yellow: #ffe60b;
$blue: #2525c4;

//Transition
$transition: all 0.3s ease-in-out;
